/* ==UserStyle==
@name           PimEyes Crack
@namespace      github.com/PinkDev1/PimEyes-Crack-UserStyle
@version        1.0.0
@description    Allows easier use of the FREE version of PimEyes
@author         PinkDev1
==/UserStyle== */

@-moz-document domain("pimeyes.com") {

    /*Un-blur the URLs*/
    .blurred-source-url{
        user-select: all !important;;
    }

    /*Make the URLs selectable*/
    span{
        filter: none !important;;
    }

    /*Remove the Buy Premium overlay on images*/
    .zoom {
        display: none !important;;
    }
}
